.gameSquare {
  border-radius: 10px;
  background-color: #1f3641;
  box-shadow: 0px 8px 0px #10212a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSquare::before {
  content: "";
  padding-bottom: 100%;
}

.winningSquare {
  background-color: #f2b137;
  box-shadow: 0px 8px 0px #cc8b13;
}

.playerMarkerImg {
  height: 40%;
  width: auto;
}
