.gameBoardContainer {
  display: grid;

  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  width: calc(90px * 3 + 25px * 3);
  grid-gap: 25px;
  margin: 0 auto;
  padding-left: 12px;
}

.dialogButtonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 3rem;
}

.dialogContent {
  width: 80%;
  margin: 2rem auto 1rem;
}

.winningXmessage {
  color: var(--blue-button-bg);
}

.winningCircleMessage {
  color: var(--yellow-button-bg);
}

.playerMarker {
  height: 25px;
  width: auto;
  display: block;
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .gameBoardContainer {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    width: calc(150px * 3 + 25px * 3);
  }
}
