.gameBoardContainer {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* height: 60vh; */
  height: 600px;
  grid-gap: 2.5rem;
  /* border: dashed 1px red; */
}
