.playerTurnLabelContainer {
  display: flex;
  background-color: #1f3641;
  box-shadow: 0px 4px 0px #10212a;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  gap: 0.5rem;
}

.turnMarker {
  height: 16px;
  width: auto;
}

.turnLabel {
  /* font-weight: bold;
  font-size: 0.8rem; */
}
