.dialogContent {
  width: 80%;
  margin: 2rem auto 1rem;
}

.winningXmessage {
  color: var(--blue-button-bg);
}

.winningCircleMessage {
  color: var(--yellow-button-bg);
}

.playerMarker {
  height: 25px;
  width: auto;
  display: block;
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
