:root {
  --main-bg-color: #1a2a33;
  --primary-text-color: #a8bfc9;
  --secondary-text-color: #1a2a33;

  --yellow-button-bg: #f2b137;
  --yellow-button-bg-hover: #ffc860;
  --yellow-button-shadow: #cc8b13;

  --blue-button-bg: #31c3bd;
  --blue-button-bg-hover: #65e9e4;
  --blue-button-shadow: #118c87;

  --gray-button-bg: #a8bfc9;
  --gray-button-bg-hover: #dbe8ed;
  --gray-button-shadow: #6b8997;

  --button-text-color: #1a2a33;

  --player-select-bg-color: #1f3641;
  --selector-bg-color: #1a2a33;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
  letter-spacing: 0.8px;
}

.appContainer {
  width: 70%;
  margin: 0 auto;
}

p {
  font-weight: 400;
}

.heading {
  font-weight: bold;
  color: var(--primary-text-color);
  text-align: center;
}

.heading-large {
  font-size: 40px;
  letter-spacing: 2.5px;
}

.heading-medium {
  font-size: 24px;
  letter-spacing: 1.5px;
}

.heading-small {
  font-size: 20px;
  letter-spacing: 1.25px;
}

.heading-x-small {
  font-size: 16px;
  letter-spacing: 1px;
}

button {
  font-family: inherit;
}
